body {
  background: #efefef;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

label {
  position: absolute;
  width: 60px;
  height: 30px;
  background: #0ff9B6;
  border-radius: 15px;
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, .2);
  bottom: 500px;
  cursor: pointer;
}

label:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
}

/*#job{
  color: #0ff9B6;
  font-size: 5em;
  position: relative;
  bottom: 100px;
  left: -10px;
 }
#clock{
     color: #ff79B6;
      font-size: 5em;
      position: relative;
      bottom: 200px;
      left: -10px;
      visibility: hidden;


                }
          p{
            font-family: sans-serif;
            position: absolute;
            bottom: 0px;
            top: 1px;
          }
          .gjd{
            right: 100px;
            color: #0ff9B6;

          }
          .procrastinate{
            left: 100px;
            color: #ff79B6;
            visibility: hidden;
          }
          #switch:checked + label{
            background: #ff79B6;
            box-shadow: inset 0 0 5px 1px rgba(0,0,0,.2);
          }
          #switch:checked + label:after{
            left: 40px;
            transition: left .5s linear;
          }
          #switch:checked + label #job, #switch:checked + label .gjd {
            visibility: hidden;
          }
          #switch:checked + label #clock, #switch:checked + label .procrastinate{
            visibility: visible;
          }
      @media screen and (max-width: 800px), screen and (max-height: 600px)  {
        label{
          position: absolute;
          top: 120px;
        }

        .container{
          padding: 30px;
        }
        .center{
          margin: 0 auto;
          width: 100px;
          height: 100px;
        }
      }

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
